.Footer {
  max-width: 1940px;
  width: 100vw;
  height: 350px;
  margin-top: auto;
  display: flex;
  color: white;
  .theFooter {
    background-color: rgb(107, 189, 148);

    display: flex;
    height: 350px;
    width: 100vw;
    flex-direction: column;
    .upperSection {
      display: flex;
      height: 90%;
      align-items: center;
      h3 {
        width: 100%;
        font-size: larger;
        font-weight: bold;
        padding-left: 10%;
        text-decoration: underline;
      }
      .footerSection1 {
        border-top: solid 1px white;
        height: 100%;
        width: 75%;

        .contactSection {
          height: 90%;
          display: flex;
          justify-content: space-evenly;
          border-top: solid 1px white;
          .contactSection1 {
            width: 45%;

            .infoSection {
              height: 90%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-evenly;
            }
          }
          .contactSection2 {
            width: 45%;
            border-left: solid 1px white;

            .infoSection {
              height: 90%;
              flex-direction: column;
              display: flex;
              justify-content: space-evenly;
              align-items: center;
            }
          }
        }
      }
      .footerSection2 {
        height: 100%;
        width: 35%;
        border-top: solid 1px white;
        h3 {
          width: 100%;
          font-size: larger;
          font-weight: bold;
          padding-left: 10%;
          text-decoration: underline;
        }
        .industriesDiv {
          border-top: solid 1px white;
          padding-left: 10%;
          height: 90%;
          border-left: solid 1px white;
          display: flex;
          justify-content: space-evenly;
          flex-direction: column;
        }
      }
      .footerSection3 {
        border-top: solid 1px white;
        width: 20%;
        height: 100%;
        h3 {
          width: 100%;
          font-size: larger;
          font-weight: bold;
          padding-left: 10%;
          text-decoration: underline;
        }
        .linksDiv {
          border-top: solid 1px white;
          height: 90%;
          border-left: solid 1px white;

          display: flex;
          justify-content: space-evenly;
          align-items: center;
        }
      }
    }
    .lowerSection {
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border-top: solid 1px white;
      h4:hover {
        cursor: pointer;
      }
    }
  }
}
