.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 150px;
  width: 100%;
  overflow-y: auto;
  overflow-y: hidden;
  .mainBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1940px;
    overflow-y: hidden;
    .homeSection1 {
      background-image: url("/images/semiBannerBlur2.jpg");
      background-size: cover;
      background-position-y: -450px;
      width: 100%;
      height: 35vh;
      max-height: 800px;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      overflow-x: hidden;
      .leftSection {
        width: 60%;
        background-color: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        .section1Div1 {
          height: 50%;
          width: 100%;
          background-color: rgb(107, 189, 148);
          transform: skewX(-20deg) translateX(10vw);
          display: flex;
          align-items: flex-end;
          justify-content: center;
          color: white;

          h1 {
            transform: skewX(20deg);
            font-size: 3vh;
            width: 90%;
            height: 50%;
            max-width: 600px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            font-weight: bold;
          }
        }
        .section1Div2 {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          transform: skewX(20deg) translateX(10vw);
          background-color: rgb(107, 189, 148);
          color: white;

          h1 {
            margin-top: 10px;
            transform: skewX(-20deg);
            font-size: 2vh;
            width: 80%;
            max-width: 500px;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            font-weight: bold;
          }
          width: 100%;
          height: 50%;
          background-color: r;
        }
      }
      .section1Div3 {
        width: 40%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bolder;

        h1 {
          font-size: 40px;
        }
      }
    }

    .homeSection2 {
      width: 100%;
      height: 100vh;
      max-height: 800px;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      background-color: rgb(240, 240, 240);
      .accordion {
        background-color: rgb(63, 138, 153);
        color: white;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      }
      .text {
        width: 40%;
        height: 80%;
        background-color: rgb(248, 250, 250);
        border-radius: 4px;
        padding: 2px;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        background-color: rgb(107, 189, 148);
        color: white;
        h1 {
          font-size: 40px;
          display: flex;
          justify-content: center;
          margin: 30px;
          font-weight: bold;
        }
        ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: black;
          li {
            span {
              font-weight: bold;
            }
            list-style: circle;
            padding: 10px;
            width: 90%;
            margin: 3px;
            border-radius: 7px;
            background-color: white;
            border: solid 2px rgb(184, 184, 184);
          }
          #longLi {
            height: 15vh;
            max-height: 100px;
          }
        }
      }
      .accordionValues {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        font-weight: bold;
      }
    }
    .homeSection3 {
      width: 100%;
      height: 110vh;
      background-color: rgb(107, 189, 148);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      max-height: 800px;
      .text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 20%;
        width: 70%;
        color: white;
        font-size: 20px;
        span {
          font-size: 30px;
          font-weight: bold;
        }
      }
      .s3CardDiv {
        font-size: 10px;
        display: flex;
        width: 90%;
        height: 70%;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(63, 138, 153);
        border-radius: 7px;
        .s3card {
          max-height: 550px;
          width: 40%;
          max-width: 300px;
          height: 50vh;
          border-radius: 5px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            border-radius: 7px;
          }
          p {
            background-color: white;
            height: 90%;
            width: 100%;
            font-size: 12px;
            padding: 10px;
            span {
              font-weight: bold;
            }
          }
        }
      }
    }
    .homeSection4 {
      width: 100%;
      height: 30vh;
      background-image: url("/images/semiBlur1.jpg");
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 300px;
      }
    }
    .homeSection5 {
      height: 25vh;
      max-height: 600px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      font-size: 25px;
      background-color: rgb(240, 240, 240);
      span {
        color: white;
        background-color: rgb(63, 138, 153);
        padding: 10px;
        border-radius: 7px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
          rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
          rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      }
    }
  }
}

@media (max-width: 900px) {
  .main {
    max-height: 6000px;
    background-color: rgb(63, 138, 153);
    .mainBody {
      .homeSection1 {
        margin-top: 1vh;
        height: 30vh;
        .section1Div1 {
          h2,
          h1,
          p {
          }
          h1 {
            font-size: 10px;
          }
          h2 {
          }
          font-size: 10px;
          p {
            font-size: 10px;
          }
        }
        .section1Div2 {
        }
        .section1Div3 {
          h1 {
            font-size: 20px;
            height: 100%;
            display: flex;
            padding-left: 10px;
            align-items: center;
          }
        }
      }

      .homeSection2 {
        height: 150vh;
        max-height: 1200px;
        flex-direction: column;
        justify-content: space-evenly;
        .accordion {
          width: 100vw;
          height: 80vh;
          max-height: 1000px;
        }
        .text {
          width: 100vw;
          height: 60vh;
          h1 {
            height: 2.5vh;
            font-size: 30px;
          }
          ul {
            height: 40vh;
            justify-content: flex-start;
            overflow-y: scroll;
            li {
              height: 20vh;

              span {
              }
            }
            #longLi {
              height: 20vh;
              max-height: 400px;
            }
          }
        }

        .accordionPara {
          overflow-y: scroll;
        }
      }
      .homeSection3 {
        margin-top: 5vh;
        height: 300vh;
        max-height: 1200px;
        .text {
          width: 95vw;
          height: 40vh;
          font-size: 15px;
          span {
            height: 10vh;
            width: 95vw;
            font-size: 20px;
          }
        }
        .s3CardDiv {
          flex-direction: column;
          overflow-y: scroll;
          justify-content: flex-start;
          align-items: center;

          .s3card {
            width: 95vw;
            margin-top: 15vh;
            img {
            }
            p {
              span {
              }
            }
          }
          #topCard {
            margin-top: 5vh;
          }
        }
      }
      .homeSection4 {
        width: 100%;
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        img {
          width: 200px;
          height: 200px;
        }
      }
      .homeSection5 {
      }
    }
  }
}
